<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/task.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <%- include('../includes/admin.ejs') %>
    <div class="container">
        <% if (tasks.length > 0) { %>
        <h2 class="top-heading" id="task-heading">List of tasks</h2>
        <table class="table" id="task-table">
            <thead>
                <tr class="task-table-row">
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Start</th>
                    <th scope="col">Progress</th>
                    <th scope="col">Ask Progress</th>
                </tr>
            </thead>
            <tbody>
                <% for (let task of tasks) { %>
                <tr class="task-table-row">
                    <td>
                        <%= task.title %>
                    </td>
                    <td class="">
                        <%= task.description %>
                    </td>
                    <td>
                        <%= task.startingTime %>
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: <%= task.progress %>%" value="100"
                                aria-valuemin="0" aria-valuemax="100">

                            </div>
                            <%= task.progress %>
                            %
                        </div>
                    </td>
                    <td>
                        <form>
                            <div class="form-check d-flex">
                                <input class="switch mb-1" type="checkbox" id="check">
                                <label class="form-check-label switch-label" for="check">Ask Progress</label>
                            </div>
                        </form>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <% } else { %>
        <h1>Wo hoo! No Tasks at hand!</h1>
        <% } %>
    </div>
    <%- include('../includes/end.ejs') %>